################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CallingMethods/.vs/CallingMethods
/ConsoleAppStringsAndIntegersAssignment/.vs/ConsoleAppStringsAndIntegersAssignment
/TwentyOne/.vs/TwentyOne
/MainMethodAssignment/.vs/MainMethodAssignment/v17
/MainMethodAssignment/.vs/MainMethodAssignment/FileContentIndex
/MethodAssignment/.vs/MethodAssignment
/MethodClassAssignment/.vs/MethodClassAssignment
/ClassMethodAssignment/.vs/ClassMethodAssignment/v17
/ClassMethodAssignment/.vs/ClassMethodAssignment/FileContentIndex
/MethodsAndObjectsAssignment/.vs/MethodsAndObjectsAssignment/v17
/MethodsAndObjectsAssignment/.vs/MethodsAndObjectsAssignment/FileContentIndex
/AbstractClassAssignment/.vs/AbstractClassAssignment
