################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CallingMethods/.vs/CallingMethods
/ConsoleAppStringsAndIntegersAssignment/.vs/ConsoleAppStringsAndIntegersAssignment
/TwentyOne/.vs/TwentyOne
/MainMethodAssignment/.vs/MainMethodAssignment/v17
/MainMethodAssignment/.vs/MainMethodAssignment/FileContentIndex
/MethodAssignment/.vs/MethodAssignment
