<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net481" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.Caching" version="8.0.0" targetFramework="net481" />
</packages>